@font-face {
    font-family: "font-heading";
    src: url(./assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf);
  }
@font-face {
    font-family: "font-p";
    src: url(./assets/fonts/source_sans_pro/SourceSansPro-Light.ttf);
  }

:root{
    --title-font: "font-heading";
    --title-p: "font-p";
    --color-primary: #242943E6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


        /* general styling */
body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-primary);
    color: #fff;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6, p, label,a{
    font-family: var(--title-font);
}
h1,h2,h3,h4,h5,h6{
    text-shadow: 1.5px 1.5px rgba(0,0,0,1);
}
h1{
    font-size: 3.8rem;
}
p{
    letter-spacing: 3px;
    line-height: 2rem;
    text-shadow: 1px 1px rgba(0,0,0,1);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}
i{
    width: 40px;
    margin: 10px;
}
i img{
    width: 100%;
}
button{
    color: #fff;
    font-size: 1.3rem;
    padding: .8rem;
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
}
input[type='submit']{
    color: var(--color-primary);
    font-size: 1.3rem;
    padding: .8rem;
    background-color: #fff;
    outline: none;
    border: 2px solid #fff;
}
button:hover, input[type='submit']:hover{
    transform: scale(.8);
}
input[type='text'],input[type='email'],input[type='password'], textarea{
    color: #fff;
    font-size: 1.3rem;
    padding: .4rem;
    background: rgba(0, 0, 0, .2);
    outline: none;
    border: .5px solid rgba(255, 255, 255, .2);
}
textarea{
    width: 100%;
}


/* ------------------------------------
        HEADER
------------------------------------ */
header{
    width: 100%;
}
/* navbar */
.navbar{
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 20px 20px 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s all;
}
.navbar__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar__logo h2{
    font-size: 2.5rem;
}
.navbar__menu{
    font-size: 2rem;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 100;
}
#close__menu{
    position: fixed;
    top: 40px;
    left: 40px;
}
.navbar__menu_hamburger{
    z-index: 2000;
}
/* hero */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets/images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: hero-animation1 1s linear forwards;
}

.hero::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    animation: hero-animation1 1s linear forwards;
    animation-delay: 4s;
}

.hero__element{
    z-index: 100;
    width: 90%;
}
.hero__title{
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    display: flex;
    opacity: 0;
    animation: hero-animation2 1s ease-out forwards;
    animation-delay: 2s;
}
.hero__text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.hero__text p{
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0;
    animation: hero-animation1 1s linear forwards;
    animation-delay: 3s;
}
.hero__text button{
    transition: .5s all;
    border-radius: 10px;
    opacity: 0;
    animation: hero-animation3 1s linear forwards;
    animation-delay: 4s;
}
.hero__text button img{
    display: none;
}
.hero__text button:hover{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 2px 5px rgba(255, 255, 255, .5) inset;
}
.hero__text button:hover>img{display: inline;}

@keyframes hero-animation1{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes hero-animation2{
    0%{transform: translateX(-100px); opacity: 1;}
    70%{transform: translateX(20px);opacity: 1;}
    80%{transform: translateX(0);opacity: 1;}
    90%{transform: translateX(10px);opacity: 1;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes hero-animation3{
    0% {transform: translateX(-200px) rotate(360deg); opacity: 1;}
    100% {transform: translateX(0) rotate(0); opacity: 1;}
}


@media screen and (max-width: 750px) {
    h1{
        font-size: 2.7rem;
    }
    .hero__text{
        flex-direction: column;
        align-items: flex-start;
    }    
}




/* ------------------------------------
        MAIN
------------------------------------ */

.section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: .3s all;
}
.section.isIntersected{
    opacity: 1;
}
.section__item{
    overflow: hidden;
    max-height: 380px;
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.onHover{
    position: absolute;
    padding: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, .9);
    z-index: 100;
    opacity: 0;
}
.onHover:hover{
    opacity: 1;
}
/* .onHover__viewMore:hover{

} */
.section__item-smaller{
    width: 40%;
}
.section__item-bigger{
    width: 60%;
}
.section__item_text{
    margin-left: 60px;
    z-index: 50;
}
.section__item_text h2{
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
}
.section__item_text p{
    text-transform: uppercase;
}
.section__item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200%;
    z-index: 10;
}

/* ------------------------------------
MESSAGE
------------------------------------ */
.message{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
}
.message .container{
    width: 80%;
    padding: 50px 0 50px 0;
}
.message .container h2{
    padding-bottom: 1.2rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
}
.message .container p{
    margin-bottom: 2rem;
}



/* ------------------------------------
        CONTACT
------------------------------------ */
.contact{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.inputs__container{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
}
.contact label{
    display: block;
    width: 100%;
}
.form__actions{
    display: flex;
    gap: 20px;
}



.rrss{
    width: 100%;
}
.rrss div{
    width: 100%;
    padding: 20px;
    padding-left: 50px;
    border-top: .5px solid rgba(255, 255, 255, .3);
    border-bottom: .5px solid rgba(255, 255, 255, .3);
    display: flex;
    align-items: center;
    justify-content: left;
}


footer{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .navbar{
        justify-content: space-between;
    }
    .navbar__logo h2{
        font-size: 7vw;
    }
    .hero{
        padding-top: 300px;
        padding-bottom: 200px;
    }    
}

@media screen and (max-width:520px) {
    .navbar{
        justify-content: space-between;
    }
    .hero{
        padding-top: 400px;
        padding-bottom: 200px;
    }
}

@media screen and (max-width:400px) {
    .navbar{
        justify-content: space-between;
    }
    .navbar__logo p{
        display: none;
    }
    .navbar__menu{
        font-size: 2rem;
    }
    .hero{
        padding-top: 400px;
        padding-bottom: 300px;
    }
    .hero__text{
        justify-content: flex-start;
        gap: 8px;
        padding-left: 20px;
    }
    .section{
        flex-direction: column;
    }
    .section__item-smaller, .section__item-bigger{
        width: 100%;
    }
}